.shop-review-container{
    display: flex;
}
.product-review-container{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    
}